*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{

    overflow-x: hidden;
}
.login-container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-title
{
    margin-bottom: 20px;
}
.login
{
    padding: 50px;
    width: 500px;
    border: 0.5px solid black;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-label
{
    width: 100%;
    text-align: start;
}

input[type="text"],
input[type="password"]{
    outline: none;
    height: 30px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 5px;
    padding-left: 5px;
}
.login-button
{
    width: 100%;
    height: 30px;
}
.navbar-logo
{
    width: 200px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}
.navbar-container
{
    overflow: hidden;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.navbar-features
{
    display: flex;
    gap: 20px;
}
.link
{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    background-color: black;
}
.link:hover
{
    background-color: rgb(68, 68, 68);
}
.profile-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
}
.profile-image
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}
.img-name
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.navigation
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.edit-profile
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.edit-profile-info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.edit-profile-container
{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type=file] {
    display: none;
  }
label span {
    padding: 8px 12px;
    background: #000000;
    color: #fff;
    cursor: pointer;
}
label span:hover {
    background: #313131;
}
.add-dawg
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.small-images
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    
}
.small-images::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #ffffff;
}

.small-images::-webkit-scrollbar
{
	width: 2px;
	background-color: #ffffff;
}

.small-images::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #ffffff;
}
.small-image
{
    height: 100px;
}
.small-image-container
{
    position: relative;
}
.remove-image-btn
{
    position: absolute;
    top: 0;
    right: 0;
}
.add-dawg-images
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px
}

.flex
{
    width: 25%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-images
{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Loader animation */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.loader-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dawg-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.rsis-image {
    background-size: contain !important;
    background-repeat:no-repeat ;
  }
.image-carousel
{
    object-fit: contain;
    width: 340px;
    height: 350px;
    background-color: #000000;
}
.mydawgs-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.mydawgs
{
    margin-top: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column

}
